# Frontend
VITE_APP_NAME=Madhayana Markets

# DANA Open API / Widget API
# Jika belum diisi, sistem otomatis berjalan dalam mode mock/sandbox demo.
DANA_ENV=sandbox
DANA_BASE_URL=https://api.sandbox.dana.id
DANA_CLIENT_ID=isi_client_id_dari_dana
DANA_CHANNEL_ID=95221
DANA_MERCHANT_ID=isi_merchant_id
DANA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nISI_PRIVATE_KEY_PKCS8\n-----END PRIVATE KEY-----"
DANA_B2B_TOKEN=isi_token_b2b_jika_menggunakan_symmetric
DANA_CUSTOMER_TOKEN=isi_customer_token_jika_direct_debit_membutuhkan_binding
APP_ORIGIN=https://domain-kamu.vercel.app

# Endpoint dapat disesuaikan sesuai produk DANA yang diaktifkan saat onboarding.
DANA_DIRECT_DEBIT_PATH=/v1.0/debit/payment.htm
DANA_STATUS_PATH=/v1.0/emoney/transfer-bank-status.htm
