VITE_FIREBASE_API_KEY=AIzaSyAr3arskRQdXyBhC1WBQBhFiPIA3l-fWzA
VITE_FIREBASE_AUTH_DOMAIN=madhayana-80f71.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=madhayana-80f71
VITE_FIREBASE_STORAGE_BUCKET=madhayana-80f71.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=948236566177
VITE_FIREBASE_APP_ID=1:948236566177:web:c39b7a78876e72760d7ae0
VITE_FIREBASE_MEASUREMENT_ID=G-8C0DB7EGYZ

DANA_MERCHANT_ID=
DANA_PARTNER_ID=
DANA_CLIENT_ID=
DANA_PRIVATE_KEY=
DANA_PUBLIC_KEY=
